* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 270px;
    overflow-x: hidden;
}

.topbar {
    background-color: #292A34;
    height: 30px;
    width: 100%;
}

.underbar {
    background-color: #363845;
    height: 250px;
    width: 100%;
    -webkit-transition: all 0.7 s ease;
    transition: all 0.7s ease;
}

.navbar {
    border: 0 !important;
    position: fixed;
}

.shrink {
    height: 60px;
    -webkit-transition: all 0.7 s ease;
    transition: all 0.7s ease;
}

.shrinkimg {
    height: 45px;
    width: 74px;
}

.homepic {
    position: relative;
    width: 100%;
    min-width: 100%;
}

.mail {
    color: white;
    position: relative;
    left: 15%;
    top: 1px;
}

.right {
    top: 1px;
    color: white;
    float: right;
    position: relative;
    right: 15%;
    padding-left: 30px;
}

.underbar ul li{
    display: inline;
    font-size: 30px;
    position: relative;
    color: white;
    padding-right: 120px;

}

a:hover {
    text-decoration: none !important;
}

.underbar ul {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.2 s ease;
    transition: all 0.2s ease;
    text-align: center;
}

#home2  {
    display: none;
}

.container {
    width: 90% !important;
}

#homecomp {
    min-width: 70%;
    max-width: 100%;
    padding-top: 100px;
    padding-bottom: 70px;
}

.geschikt {
    background-color: white;
    text-align: center;
    position: relative;
    bottom: 40px;
}

.quote2wrap {
    background-color: white;
    text-align: center;
    position: relative;
    height: 100%;
    padding-bottom: 350px;
}

.quote3wrap {
    text-align: center;
    position: relative;
    height: 100%;
    padding-bottom: 250px;
}

.contactwrap {
    position: relative;
    height: 100%;
    background-color: white;
    padding-bottom: 200px;
}

.quote4wrap {
    text-align: center;
    position: relative;
    height: 100%;
    padding-bottom: 250px;
    background-color: white;
}

#geschikt1 {
    position: relative;
    top: 70px;
    color: #363845;
    font-size: 40px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
}

#geschikt2 {
    position: relative;
    color: #363845;
    font-size: 150px;
    top: 60px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
}

#contacttekst {
    position: relative;
    color: #363845;
    font-size: 220px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
}

.wrapcontact {
    text-align: center;
}

#contactinfo {
    color: #363845;
    font-size: 25px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
}

.contact1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    color: #363845;
    font-size: 30px;
    border: solid 5px #363845;
    padding: 15px 90px;
    -webkit-transition: all 0.7 s ease;
    transition: all 0.7s ease;
}

.contact1:hover {
    color: white;
    font-size: 30px;
    background-color:  #363845;
    -webkit-transition: all 0.7 s ease;
    transition: all 0.7s ease;
}

.contact3 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    color: #363845;
    font-size: 30px;
    border: solid 5px #363845;
    padding: 10px 90px;
    -webkit-transition: all 0.7 s ease;
    transition: all 0.7s ease;
    position: relative;
    top: 70px;
}

.contact3:hover {
    color: white;
    font-size: 30px;
    background-color:  #363845;
    -webkit-transition: all 0.7 s ease;
    transition: all 0.7s ease;
}

.wat {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 200px;
}

.titel1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 40px;
}

.service {
    text-align: center;
    color: white;
}

.bewerking {
    padding-bottom: 200px;
}

.ondertekst1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: white;
    font-size: 18px;
}

.service {
    position: relative;
    top: 100px;
}

.cirkel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#started {
    position: relative;
    top: 170px;
    color: #363845;
    font-size: 200px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
}

#started2 {
    position: relative;
    top: 170px;
    color: white;
    font-size: 200px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
}

#kernwaardentekst {
    position: relative;
    color: white;
    top: 165px;
    font-size: 140px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
}

.startedwrap {
    background-color: white;
    position: relative;
    top: 250px;
    padding-bottom: 320px;
    text-align: center;
    width: 100%;
}

.startedwrap2 {
    background-color: #363845;
    position: relative;
    padding-bottom: 320px;
    text-align: center;
    width: 100%;
}


.kernwaardenwrap {
    background-color: #363845;
    position: relative;
    padding-bottom: 320px;
    text-align: center;
    width: 100%;
}

#quote1 {
    position: relative;
    top: 450px;
    color: #363845;
    font-size: 70px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: white !important;
}

#quote2 {
    position: relative;
    top: 180px;
    font-size: 60px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #363845;
}

#quote3 {
    position: relative;
    top: 125px;
    font-size: 60px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: white;
}

#quote4 {
    position: relative;
    top: 140px;
    font-size: 60px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #363845;

}

#quote6 {
    position: relative;
    top: 125px;
    font-size: 120px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: white;
}

#quote4weten {
    position: relative;
    top: 60px;
    font-size: 70px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #363845;
}

#quote5over {
    position: relative;
    top: 60px;
    font-size: 200px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #363845;
}

#quote7over {
    position: relative;
    top: 60px;
    font-size: 120px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #363845;
}

.BelowHome {
    text-align: center;
    height: 2500px;
}

#homesuite {
    position: relative;
    top: 600px;
    min-width: 50%;
    max-width: 70%;
    padding-top: 100px;
    padding-bottom: 70px;
}

#ondernemer1 {
    position: relative;
    top: 700px;
    color: #363845;
    font-size: 40px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    color: white;
}

#ondernemer2 {
    position: relative;
    color: #363845;
    font-size: 150px;
    top: 700px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    color: white;
}

#spreekaf {
    position: relative;
    color: #363845;
    padding: 0;
    margin-bottom: 60px;
    font-size: 30px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
}

.contact2 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 30px;
    border: solid 5px white;
    padding: 20px 80px;
    -webkit-transition: all 0.7 s ease;
    transition: all 0.7s ease;
    position: relative;
    top: 800px;
}

.contact2:hover {
    color: #363845;
    font-size: 30px;
    background-color: white;
    -webkit-transition: all 0.7 s ease;
    transition: all 0.7s ease;
}



footer {
    background-color: #292A34;
    padding-top: 200px;
    padding-left: 100px;
    height: 100%;
    padding-bottom: 200px;
}

#footerlogo {
    position: relative;
    bottom: 70px;
}

#watfooter {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 45px;
    border-bottom: 10px solid white;
    color: white;
}

.footerlink {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 20px;
    position: relative;
    top: 15px;
    color: white;
    padding-bottom: 10px;
}

.footerlink:hover {
    border-bottom: solid white 3px;
    color: white;
    padding: 0;
}

.footerlinkul {
    text-decoration: none;
    list-style:none;
}

.footerlinkul li {
    margin-bottom: 10px;
}

.footerlinks {
    padding-left: 90px;
}

.footerlinks2 {
    padding-left: 120px;
}

.footericon {
    position: relative !important;
    top: 15px;
    right: 270px;
}

@media screen and (min-width: 1200px) and (max-width: 1599px){
    .underbar ul li{
        padding-right: 10px;
    }

    .shrink {
        height: 80px;
    }

    .footerlinks {
        position: relative;
        left: 120px;
    }

    .footerlinks2 {
        position: relative;
        left: 90px;
    }

    #kernwaardentekst {
        font-size: 100px;
    }



}

@media screen and (min-width: 1024px) and (max-width: 1216px) {
    .underbar ul li{
        padding-right: 10px;
    }

    .shrink {
        height: 140px;
    }

    #kernwaardentekst {
        font-size: 100px;
    }
}

@media screen and (max-width: 1023px) {

    #kernwaardentekst {
        font-size: 60px;
    }

    .topbar {
        display: none;
    }

    .underbar ul li{
        display: block;
        padding-right: 0;
        font-size: 60px;
    }

    #home {
        display: none;
    }

    #home2  {
        display: block;
    }

    #navlogo2 {
        height: 122px;
        width: 200px;
    }

    .underbar {
        height: 600px;
    }

    .homepic {
        position: relative;
        bottom: 20px;
    }

    .navbar-fixed-top
    {
    position: relative !important;
    top: auto;
    }

    body {
        padding: 0;
    }

    #geschikt2 {
        font-size: 100px;
    }

    .bewerking {
        padding-bottom: 0;
    }

    .ondertekst1 {
        font-size: 30px;
        padding-bottom: 80px;
    }

    #started {
        font-size: 120px;
    }

    #started2 {
        font-size: 120px;
    }

    #ondernemer2 {
        font-size: 70px;
    }

    .footerlinks2 {
        padding-top: 20px;
    }

    footer {
        text-align: center;
        padding: 0;
        margin: 0;
        padding-top: 200px;
    }

    .footerlinks {
        position: relative !important;
        right: 40px !important;
    }

    .footerlinks2 {
        position: relative !important;
        right: 50px !important;
        padding-bottom: 15px;
    }

    #contacttekst {
        font-size: 100px;
    }


}
