<script src="js/jquery.js"></script>
<script src="js/script.js"></script>
<footer>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <img id="footerlogo" src="img/footerlogo.png" />
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="footerlinks">
                <span id="watfooter"><b>WAT WIJ DOEN</b></span>
                <br />
                <ul class="footerlinkul">
                    <li><a class="footerlink" id="link1" href="/design"><b>DESIGN</b></a></li>
                    <li><a class="footerlink" href="/bewerking"><b>BEWERKING</b></a></li>
                    <li><a class="footerlink" href="/websites"><b>WEBSITES</b></a></li>
                    <li><a class="footerlink" href="/logo"><b>LOGO'S</b></a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="footerlinks2">
                <span id="watfooter"><b>LINKS</b></span>
                <br />
                <ul class="footerlinkul">
                    <li><a class="footerlink" id="link1" href="/kernwaarden"><b>KERNWAARDEN</b></a></li>
                    <li><a class="footerlink" href="/contact"><b>CONTACT</b></a></li>
                    <li><a class="footerlink" href="/services"><b>SERVICES</b></a></li>
                    <li><a class="footerlink" href="/over"><b>OVER ONS</b></a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="footerlinks3">
                <span id="watfooter"><b>SOCIAL</b></span>
                <br />
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></i></a>
            </div>
        </div>
    </div>
    <h5 id="kvknummer"><b>KVK-nummer: 66977797</b></h5>

</footer>
