<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body style="background-color: #363845">
        <%- include navbar.ejs %>

        <img class="homepic" src="img/home.png" />
        <div class="geschikt">
            <div class="container">
                <span id="geschikt1">GRAFISCH WERK</span>
                <br />
                <span id="geschikt2">GESCHIKT VOOR</span>
                <br />
                <img id="homecomp" src="img/homecomp.png" />
                <br />
                <a href="/contact" class="contact1">WERK MET ONS</a>
            </div>
        </div>
        <%- include footer.ejs %>
    </body>
</html>
