<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>F&a</title>
    </head>
    <body style="background-color: #363845">
        <%- include navbar.ejs %>

        <img class="homepic" src="img/home.png" />
        <div class="geschikt">
            <div class="container">
                <span id="geschikt1">GRAFISCH WERK</span>
                <br />
                <span id="geschikt2">GESCHIKT VOOR</span>
                <br />
                <img id="homecomp" src="img/homecomp.png" />
                <br />
                <a href="/contact" class="contact1">WERK MET ONS</a>
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="wat">
                <span class="wattekst">WAT WIJ DOEN</span>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="service design">
                        <span class="titel1">DESIGN</span> <br />
                        <img src="img/pen.png" />
                        <p class="ondertekst1">
                            <b>Ontwerpen</b> <i>en</i> <b>Grafische<br />
                            vormgeving.</b> <i>Wij zorgen ervoor <br />
                            dat jouw boodschap duidelijk <br />
                            word overgebracht, door de <br />
                            perfecte afbeeldingen te maken </i>

                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="service bewerking">
                        <span class="titel1">BEWERKING</span> <br />
                        <img src="img/camera.png" />
                        <p class="ondertekst1">
                            <i>Het</i> <b>bewerken</b> <i>van</i> <b>foto's</b><br />
                            <i>voor</i> <br />
                            <b>bedrijven, personen</b> <i>en</i> <br />
                            <b>organisaties</b> <i>die <br />
                            ook de details belangrijk <br />
                            vinden </i>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="service websites">
                        <span class="titel1">WEBSITES</span> <br />
                        <img src="img/website.png" />
                        <p class="ondertekst1">
                            <i>Het</i> <b>ontwerpen</b> <i>en</i> <b>ontwikkelen</b> <br />
                            <i>van</i> <b>websites.</b> <i>Dit doen wij met</i> <br />
                            <b>Grafische vormgevers</b> <i>en</i> <br />
                            <b>web ontwikkelaars</b>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="service logo">
                        <span class="titel1">LOGO'S</span> <br />
                        <img src="img/logo.png" />
                        <p class="ondertekst1">
                            <i>Een</i> <b>logo</b> <i>is de</i> <b>handtekening</b> <br />
                            <i>van een</i> <b>bedrijf</b> <i>of</i> <b>organisatie.</b> <br />
                            <i>Wij ontwerpen en maken logo's die</i> <br />
                            <b>opvallen</b> <i>en</i> <b>toepasselijk</b> <i>zijn</i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <%- include footer.ejs %>
    </body>
</html>
