<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>FA Designs | Kernwaarden</title>
    </head>
    <body style="background-color: #363845">
        <%- include navbar.ejs %>
        <img class="homepic" src="img/kernwaarden.png" />
        <div class="kernwaardenwrap">
            <div class="container">
                <span id="kernwaardentekst">KERNWAARDEN</span>
            </div>
        </div>

        <div class="quote2wrap">
            <div class="container">
                <span id="quote2">'<i>De </i><b>Kernwaarden</b> <i>van 'FA' zijn.</i><br />
                    <i>constant werken naar </i><b>perfectie.</b><br />
                    <b>Positief</b> <i>omgaan met situaties.</i><br />
                    <i>En staan bij ons</i><b> woord</b><br />
            </div>
        </div>

        <div class="quote3wrap">
            <div class="container">
                <span id="quote3">"<b>SUCCESS</b> <i>in life means living by your </i><b>VALUES</b>"</span>
            </div>
        </div>

        <div class="fotomettekst">
            <img class="kernwaardenpic" src="img/kernwaarden2.png" />
            <b id="quote8">Ontwerpen en ontwikkelen<br />
            is een passie. Success worden<br />
            met jouw succes<br />
            Een dikke win-win dus!<br />
            <a href="/contact" class="contact5">GET STARTED</a>

            </b>

        </div>

        <div class="quote4wrap">
            <div class="container">
                <span id="quote4weten"><b>Laat 'FA' weten waar jij in gelooft.</b></span><br />
                <span id="quote4">"<i>Wat zijn jouw </i><b>"kernwaarden"</b><i>? Waar</i> <b>geloof</b> <i>jij in?</i><br />
                <i>Vertel het via Facebook, Twitter, Instagram</i><br />
                <i>en nog veel meer. Zoek naar</i> <b>FA Designs</b><br />
                <i>en vertel waar jij in gelooft</i>
                "</span>
            </div>
        </div>
        <div class="startedwrap2">
            <div class="container">
                <span id="started2">GET STARTED</span>
            </div>
        </div>
        <%- include footer.ejs %>
    </body>
    </html>
