<LINK REL=StyleSheet HREF="css/style.css" TYPE="text/css" MEDIA=screen>
<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap-theme.min.css">
<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
<meta name="viewport" content="initial-scale=0.5, maximum-scale=1, user-scalable=no">

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="topbar">
        <i class="fa fa-envelope fa-2x mail" aria-hidden="true"></i>
        <i class="fa fa-instagram fa-2x instagram right" aria-hidden="true"></i>
        <i class="fa fa-facebook fa-2x facebook right" aria-hidden="true"></i>
        <i class="fa fa-twitter fa-2x twitter right" aria-hidden="true"></i>
    </div>
    <div class="underbar">
        <ul>
            <a id="home2" href="/"><li><img id="navlogo2" src="img/navlogo.png"></a></li></a>
            <a id="kernwaarden" href="/kernwaarden"><li>Kernwaarden</li></a>
            <a id="contact" href="/contact"><li>Contact</li></a>
            <a id="home" href="/"><li><img id="navlogo" height="190" src="img/navlogo.png"></a></li></a>
            <a id="services" href="/services"><li>Services</li></a>
            <a id="over" href="/over"><li>Over FA</li></a>
        </ul>
    </div>
</nav>
