<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>FA Designs | Over ons</title>
    </head>
    <body style="background-color: #363845">
        <%- include navbar.ejs %>
        <img class="homepic" src="img/over.png" />
        <div class="quote4wrap">
            <div class="container">
                <span id="quote5over"><b>OVER ONS</b></span><br />
                <span id="quote4">"<i>Fa Designs is een </i><b>bedrijf</b><i> van </i><b>vormgever(s)</b><br />
                <i>met een oog voor </i><b>kwaliteit </b><i>en</i><br />
                <b>passie </b><i>voor het werk.</i><br />
                <b>Ontwerpen</b><i> en </i><b>ontwikkelen.</b>"</span>
            </div>
        </div>
        <div class="quote3wrap">
            <div class="container">
                <span id="quote6"><b>"QUALITY</b> <i>is a </i><b>HABIT"</b></span>
            </div>
        </div>
        <img class="homepic" src="img/overmetlogo.png" />
        <div class="quote4wrap">
            <div class="container">
                <span id="quote7over"><b>Hoe wordt er gewerkt?</b></span><br />
                <span id="quote4">"<i>Het mooie van dit vak is</i><br />
                <i>is dat het </i><b>overal </b><i>uitgevoerd kan worden</i><br />
                <i>Dit maakt dit werk ook nog erg</i><br />
                <b>flexibel</b><i> en geeft ons de kans werk</i><br />
                thuis af te maken."</span>
            </div>
        </div>
        <%- include footer.ejs %>
    </body>
    </html>
