<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>F&A Design</title>
    </head>
    <body style="background-color: #363845">
        <%- include navbar.ejs %>
        <img class="homepic" src="img/over.png" />
        <div class="quote4wrap">
            <div class="container">
                <span id="quote5over"><b>OVER ONS</b></span><br />
                <span id="quote4">"<i>Wij zijn jonge </i><b>ondernemers</b><i> en </i><b>vormgevers</b><br />
                <i>met een oog voor </i><b>kwaliteit </b><i>en</i><br />
                <b>passie </b><i>voor wat wij doen.</i><br />
                <b>Ontwerpen</b><i> en </i><b>ontwikkelen.</b>"</span>
            </div>
        </div>
        <div class="quote3wrap">
            <div class="container">
                <span id="quote6"><b>"QUALITY</b> <i>is a </i><b>HABIT"</b></span>
            </div>
        </div>
        <img class="homepic" src="img/overmetlogo.png" />
        <div class="quote4wrap">
            <div class="container">
                <span id="quote7over"><b>Hoe gaan wij te werk?</b></span><br />
                <span id="quote4">"<i>Het mooie van wat wij doen is</i><br />
                <i>is dat wij het </i><b>overal </b><i>kunnen uitvoeren</i><br />
                <i>Dit maakt ons werk ook nog erg</i><br />
                <b>flexibel</b><i> en geeft ons de kans werk</i><br />
                thuis af te maken."</span>
            </div>
        </div>
        <%- include footer.ejs %>
    </body>
    </html>
