<html>
    <head>
        <title>FA Designs | Services</title>
        <meta charset="utf-8">

    </head>
    <body style="background-color: #363845">
        <%- include navbar.ejs %>
        <img class="homepic" src="img/services.png" />
        <div class="designs">
            <div class="design1">
                <h1 id="designtekst">DESIGN</h1>
                <h1 id="designmidden">DAAR HOUDEN WIJ VAN</h1>
                <img id="" src="img/penservice.png" />
                <p class="designonder"><b>Ontwerpen</b> <i>en</i> <b>grafische</b></p>
                <p class="designonder"><b><i>dat jouw boodschap duidelijk</i></b></p>
                    <b><i>dat jouw boodschap duidelijk</i></b>
                    <i>wordt overgebracht, door de</i>
                    <i>perfecte afbeeldingen te maken.</i>
            </div>
        </div>
        <div class="fotobewerking">

        </div>
        <div class="logo's">

        </div>
        <div class="websites">

        </div>
        <%- include footer.ejs %>
    </body>
</html>
